
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <%= yield_content "head" %>
        <!-- Place this tag in your head or just before your close body tag. -->

        <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
          <script>
            $(document).ready(function() {
              // Open WebSocket connection
              var ws = new WebSocket("ws://" + location.host + "/chat");
              // Append each message
              ws.onmessage = function(e) {
                console.log(e.data)
                var newData = JSON.parse(e.data)
                $('#chat').append(newData.message + "\n")
              };
              $("form").bind('submit', function(e) {
                var message = {username: $('#email').val(),message: $('#msg').val()}
                ws.send(JSON.stringify(message));
                $('#msg').val(''); $('#msg').focus();
                e.preventDefault();
              });
              window.onbeforeunload = function() {
                websocket.onclose = function () {}; // disable onclose handler first
                websocket.close()
              };
            });
          </script>
    </head>
    <body>


      <%= content %>
      <%= yield_content "scripts" %>
        <!-- <%= yield_content "content" %> -->
        <!-- <%= yield_content "scripts" %> -->
    </body>
</html>
